@import '../../../shared/styles/common.scss';

.main {
  @include flex(
    $flexDirection: column,
    $alignItems: center,
    $gap: 50px,
    $justifyContent: center
  );
  flex-grow: 1;

  h1 {
    font-size: 32px;
  }
}
