@import '../../../../shared/styles/common.scss';

.headers {
  @include flex(center, $gap: 30%);

  p:hover:not(.active) {
    cursor: pointer;
  }

  .active {
    pointer-events: none;
    color: var(--red);
  }
}

.textArea {
  width: 100%;
  min-height: 200px;
  background: var(--main-color-1);
  color: var(--main-color-4);
  border-radius: 4px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: bold;
  resize: vertical;
  max-height: 300px;
}
