@import '../../../shared/styles/common.scss';

.header {
  @include flex($alignItems: flex-start);
  padding: 1%;
  border-bottom: 1px solid var(--main-color-2);
  margin: 1%;
  margin-top: 0;

  img {
    border-radius: 4px;
    cursor: pointer;
  }
}
