.button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;

  &.primary {
    background-color: var(--magenta);
    color: var(--primary);

    &:hover {
      opacity: 0.8;
    }
  }

  &.secondary {
    background-color: var(--grape);
    color: var(--primary);

    &:hover {
      background-color: var(--grape);
    }
  }

  &.outlined {
    border: 1px solid var(--main-color-1);
    border-radius: 3px;
    padding: 3px 5px;

    &:hover {
      color: var(--grey);
      border: 1px solid var(--grey);
      cursor: pointer;
    }
  }

  &.disabled {
    background-color: var(--grey);
    cursor: not-allowed;
    opacity: 1;

    &:hover {
      background-color: var(--grey);
      opacity: 1;
    }
  }

  &.sm {
    font-size: 0.875rem;
  }

  &.md {
    font-size: 1rem;
  }

  &.lg {
    font-size: 1.25rem;
  }
}